  .card {
    width: 70%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .header {
    background-color: #DB5426;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 30px;
  }
  
  .body {
    padding: 20px;
  }
  
  .feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 80px;
  }
  
  .feed-form input {
    height: 54px;
    border-radius: 5px;
    background: white;
    margin-bottom: 15px;
    border: 1px solid black;
    padding: 0 20px;
    font-weight: 300;
    font-size: 14px;
    color: #4B4B4B;
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .btn {
      display: inline-block;
      font-family: sans-serif;
      width: 100px;
      font-weight: 600;
      font-size: 16px;
      color: #000000;
      margin: 1rem auto;
      padding: 0.7rem 2rem;
      border-radius: 30em;
      border-style: none;
      position: absolute;
      z-index: 1;
      overflow: hidden;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: transparent;
      box-shadow: 1px 1px 5px #000000;
    }
    
  }
  
  .btn {
    display: inline-block;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin: 1rem auto;
    padding: 0.7rem 2rem;
    border-radius: 30em;
    border-style: none;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: transparent;
    box-shadow: 1px 1px 5px #000000;
    text-align: center;
  }

  .save {
    bottom: 8px;
    left: 55%;
    background-color: #09ff00af;
  }

  .cancle {
    bottom: 8px;
    right: 55%;
    background-color: #ff0000a9;
  }
  
  .save::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #09ff00;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }

  .cancle::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff0000;
    transform: translateX(-101%);
    transition: all .3s ease;
    z-index: -1;
  }
  
  .btn:hover {
    color: #000000;
    transition: all .3s ease;
  }
  
  .btn:hover::before {
    transform: translateX(0);
  }
  